version: '3.8'

services:
  app:
    build: .
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - PORT=3000
    restart: unless-stopped
    networks:
      - app-network

  # Servicio para desarrollo (opcional)
  app-dev:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3002:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - PORT=3000
      - MONGODB_DB_NAME=dummy
    volumes:
      - ./src:/app/src
      - ./package.json:/app/package.json
    restart: unless-stopped
    networks:
      - app-network
    profiles:
      - dev

networks:
  app-network:
    driver: bridge 