# Configuración del servidor
PORT=3000
NODE_ENV=production

# Configuración de MongoDB Atlas (recomendado para producción)
MONGODB_URI=mongodb+srv://devsistemasahk:test123@cluster0.gknrt0p.mongodb.net/db?retryWrites=true&w=majority&appName=Cluster0

# Para MongoDB local en Docker (alternativa)
# MONGODB_URI=mongodb://admin:password123@mongo:27017/proyecto-2025?authSource=admin 