# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de MongoDB Atlas
MONGODB_URI=mongodb+srv://user:password@ahk.xh0jhbc.mongodb.net
MONGODB_PARAMS=retryWrites=true&w=majority&appName=AHK
MONGODB_DB_NAME=dummy

# Configuración de CORS
CORS_ORIGIN=http://localhost:3000

# Configuración de logs
LOG_LEVEL=info

#Auth0
AUTH0_AUDIENCE=https example.com
AUTH0_DOMAIN=domain